streamlit==1.52.2
pandas
openpyxl
torch
torch_geometric
pytorch_lightning
-f https://data.pyg.org/whl/torch-1.13.0+cpu.html torch-scatter
-f https://data.pyg.org/whl/torch-1.13.0+cpu.html torch-sparse
